[submodule "archeti/ghl"]
	path = archeti/ghl
	url = git@gitlab.com:archeti/ghl.git
    branch = staging
[submodule "archeti/gitlab-cybrosys"]
	path = archeti/gitlab-cybrosys
	url = gitlab@gitlab.com:archeti/externals/ghl-cybrosys.git
	branch = main
